;;files to ignore
settings.py

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.media/
.static/

media/cache/c2/45/c2450032310bf94a391ef0082f0a2909.png

*.png

*.jpg

materials/settings.py

db.sqlite3
